/build/
/*/build/
/**/build/
*/.directory
*.directory
/**/out/
src/models/*2to2*/
cmake-build-debug*/
*/shell_scripts/*

*config.hpp
/*/config.hpp
/**/config.hpp

/*/configured
/**/configured

.devcontainer/.zshrc
.devcontainer/devcontainer.json

.containers/*/*.tar
.containers/*.tar

experimental/*
/*/experimental/*
/**/experimental/*

dp_*_back

*.sif

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

MakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

src/models/auxiliary_library/scalar2to2/compare.hpp

MARTY_install/marty-public/

*source.tar.gz

.images

MARTY_install/.martyconfig
disable_permissions.sh
enable_permissions.sh
.containers/debian-compile-launch/apptainer_build.sh
.containers/debian-compile-launch/apptainer_cgroups.conf
.containers/debian-compile-launch/darkpack-launch.tar
.containers/debian-compile-launch/apptainer_cgroups.conf
.containers/fedora-compile-launch/fedora36.tar
.containers/*/*.sif
.containers/*.sif
Yt.dat
src/dp_*/config.hpp
doc/html
doc/latex
doc/*.aux
doc/*.bcf
doc/*.log
doc/*.xml
doc/*/*.aux
doc/*/*.bcf
doc/*/*.log
doc/*/*.xml
doc/*/*.pdf
!doc/Doxyfile
doc/modified_cosmology/main.synctex.gz
.sync.ffs_db
src/models/legacy/
